body {
    background-color: aqua;
    font: normal 12pt Comic Sans MS; /*TRANSFORMA TODA A FONTE EM COMIC SANS*/
}
header {
    display: flex;
}
header #img {
    margin-right: 8px;
}
/* A PARTIR DAQUI TODAS AS MODIFICAÇÕES SÃO PARA O FOOTER */
hr#linha1 {
   color: black; 
}
footer#patrocinio {
    background-color: white;
    align-content: center;
    text-align: center;
}