body {
    background-color: aqua;
    font: normal 12pt Comic Sans MS;
}
header {
    display: flex;
}
header #img {
    margin-right: 8px;
}
hr#linha1 {
    
}
footer#patrocinio {
    background-color: white;
    align-content: center;
    text-align: center;
}