body {
    background-color: lightskyblue;
    font: normal 12pt Comic Sans MS; /*TRANSFORMA TODA A FONTE EM COMIC SANS*/
    padding: 10px;
    text-align: center;
}
header {
    display: flex;
}
header #img {
    margin-right: 8px;
}
/* EDITANDO AS DIVS DAS MÚSICAS */
div#divm1 {
padding-bottom: 2px;
background-color: lightseagreen;
}
div#divm2 {
padding-bottom: 2px;    
background-color: lightseagreen;
}
div#divm3 {
padding-bottom: 2px; 
background-color: lightseagreen;
}
div#divms {
padding-bottom: 2px;
background-color: lightseagreen;
}
/* PARTE DAS DIVS DOS BOTOÔES */
/* A PARTIR DAQUI TODAS AS MODIFICAÇÕES SÃO PARA O FOOTER */
hr#linha2 {
    border: 1px solid black;
}
footer#patrocinio {
    background-color: lightseagreen;
    align-content: center;
    text-align: center;
}